.App {
  text-align: center;
  background-color: #AAE4DE;
  font-family: "CardenioModern";
  font-size: 40;
  color: #2C2E35;
}

html, body {
  font-family: "CardenioModern";
  background-color: #AAE4DE;
}

.bird-count {
  font-size: 25px;
}

.list-entry {
  height: 100px,
}

.search {
  font-size: 50px;
  padding: 10px;
}

.dropdown-btn {
  width: 100px;
  justify-content: center;
}

.list-header {
  font-size: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list-entry-row {
  display: flex;
  align-items: center;
  justify-content: left; 
}

.list-entry-row > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-entry-habitat {
  height: 60px;
  width: auto;
}

.list-entry-habitat > div > div > .three {
  transform: translate(0px, -10px);
}

.list-entry-habitat > div > div > .top{
  transform: translate(21px, 10px);
}

.list-entry-wingspan {
  transform: translate(0px, 10px);
}

.list-entry-wingspan > div > img {
  transform: translate(0px, -10px);
}

.list-entry-food {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  position: relative;
  width: 300px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-200px, 0%);
}

.expansion-container {
  width: 100px;
  top: 50%;
  left: 50%;
}


.overlay.food-background {
  display: inline-block;
  width: 101px;
  height: 120px;
  z-index: 0;
  border: 2px solid rgba(0, 0, 0, 0.05);
  transform: translate(-72px, -60px);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #C8C1B4;
}

.overlay.name-background {
  display: inline-block;
  width: 260px;
  height: 80px;
  z-index: 0;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 0px;
  transform: translate(35px, -50px);
}

.overlay-card {
  width: 400px;
  height: auto;
  border-radius: 15px;
}

.habitat-icon {
  width: 40px;
}

.habitat-icon.three {
  transform: translate(0px, -35px);
}

.habitat-icon.top {
  width: 38px;
  transform: translate(0px, -18px);
}

.food-icon {
  width: 22px;
  z-index: -1;
}

.delin-icon {
  width: 12px;
  padding: 2px;
}

.star-icon {
  transform: translate(5px, -10px);
}

.name.common {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.name.scientific {
  font-size: 15px;
  font-family: 'ThirstyRough';
  color: #595B61;
  width: 100%;
  transform: translate(0%, -50%);
}

.feather-icon {
  width: 25px;
  height: auto;
  transform: translate(-30%, 2%);
}

.nest-icon {
  width: 35px;
}

.egg-icon {
  width: 15px;
  padding-left: 4px;
}

.wingspan-icon {
  width: 45px;
  height: auto;
  transform: translate(0px, -15px);
}

.power-icon {
  width: auto;
  height: 25px;
  padding-right: 6px;
  transform: translate(0px, 0px);
}

.food-power-text-icon {
  width: 30px;
  height: auto;
  padding-right: 6px;
  padding-left: 6px;
  transform: translate(0px, -2px);
  filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.631))
    drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.611))
    drop-shadow(-1px -1px 2px rgba(255, 255, 255, 0.663))
    brightness(90%);
}

.egg-power-text-icon {
  width: 25px;
  height: auto;
  padding-right: 6px;
  padding-left: 6px;
  transform: translate(0px, -1px);
}

.nest-power-text-icon {
  width: 30px;
  height: auto;
  padding-right: 6px;
  padding-left: 6px;
  transform: translate(0px, -2px);
}

.power-text-icon {
  width: 30px;
  height: auto;
  padding-right: 6px;
  padding-left: 6px;
  transform: translate(0px, -3px);
  /* filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.631)) */
}

.feather-container {
  display: flex;
  font-weight: bold;
  font-size: 37px;
}

.wingspan-container {
  font-weight: bold;
  font-size: 18px;
  color: #595B61;
  text-align: center;
}

.power-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
}

.power-body {
  font-family: 'FuturaCondensed';
  font-size: 18px;
  font-weight: normal;
  white-space: normal;
  text-align: left;
}

.overlay {
  position: absolute;
  top: 10%;
  left: 35%;
  z-index: 100;
}

.overlay.habitat {
  transform: translate(-80px, -35px);
  padding: 10px;
  width: 40%;
}

.overlay.food {
  transform: translate(-90px, 20px); 
  padding: 10px;
  width: 45%;
}

.overlay.point {
  transform: translate(-80px, 90px); 
  padding: 10px;
}

.overlay.name {
  width: 100%;
  transform: translate(15px, -40px); 
  white-space: nowrap;
  text-align: center;
}

.overlay.nest {
  transform: translate(-85px, 155px); 
  padding: 10px;
}

.overlay.egg {
  transform: translate(-80px, 200px); 
  width: 40px;
  padding: 4px;
}

.overlay.wingspan {
  transform: translate(210px, 300px); 
  width: auto;
}

.overlay.wingspan-blank {
  transform: translate(210px, 440px);
}

.overlay.expansion-icon {
  transform: translate(220px, 500px);
}

.overlay.power {
  transform: translate(-90px, 340px); 
  width: 370px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 20px;
}

.overlay.trivia {
  font-family: 'FuturaCondensed';
  font-size: 14px;
  white-space: normal;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  color: #847E72;
  left: 40%;
  top: 88%;
  width: 80%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.three-way-btn {
  width: 40px;
  opacity: .5;
  height: 40px;
  object-fit: scale-down;
}

.three-way-btn.active {
  opacity: 1;
}

.two-way-btn {
  width: 40px;
  height: 40px;
  object-fit: scale-down;
}

.two-way-btn.active {
  opacity: 1;
}

.two-way-btn.inactive {
  opacity: .5;
}

.slider-icon {
  width: 40px;
  height: 40px;
  object-fit: scale-down;
}

.slash {
  position: relative;
}
.slash-text {
  position: absolute;
  left: 40%;
  bottom: -25%;
  color: red;
  font-size: 40px;
}

.wingspan-btn-text {
  opacity: .3;
  font-weight: bold;
  background-color: transparent;
}

.wingspan-btn {
   outline: none !important;
   box-shadow: none;
   border: none;
   background-color: transparent;
}

.wingspan-btn-text.selected {
  opacity: 1;
}

.expansion-icon {
  width: 30px;
  height: 30px;
  object-fit:fill;
}

.expansion-icon.left {
  transform: translate(0px, 0px);
}

.expansion-icon.right {
  transform: translate(-10px, 0px);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
