body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "CardenioModern";
  src: local("CardenioModernRegular"),
   url("./fonts/CardenioModern/CardenioModern-Regular.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "ThirstyRough";
  src: local("ThirstyRough"),
   url("./fonts/ThirstyRough/ThirstyRoughLight.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "FuturaCondensed";
  src: local("FuturaCondensed"),
   url("./fonts/FuturaCondensedRegular/FuturaCondensedRegular.ttf") format("truetype");
  font-weight: normal;
}